<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalValidation" />

<EditForm EditContext="editContext" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label>Pais</label>
        <div>
            <InputText lcass="form-control" @bind-Value="@Country.Name"></InputText>
            <ValidationMessage For="@(() => Country.Name)"></ValidationMessage>
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar cambios</button>
    <button class="btn btn-success" @onclick="ReturnAction" >Regresar</button>

</EditForm>